.App {
  text-align: center;
}

.Background-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.App-header {
  padding: 19px 30px;
  text-align: center;  
  line-height: 1.1073;
  letter-spacing: .012em;
  color: #000;
  
  p {
    font-weight: 300;
    font-size: 28px;
    text-transform: uppercase;
  }

  a {
    font-size: 14px;
    color: #0070c9;
    font-weight: 400;
    text-decoration: none;
  }
}

.App-header,
.calendar-container {
  position: relative;
}

.App-content {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.calendar-container {
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background: #ffffff73;
  color: #000;
  animation: easing 1s;
}

.total-time {
  position: relative;
  font-size: 42px;
  text-align: center;
  color: #fff;
  background: #000000b0;
}

.btn-time-in,
.btn-time-out {
  height: 50px;
  border-radius: 10px;

  position: relative;
  font-size: 12px;
  color: #FFFFFF;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;

  &:after {
    content: "";
    background: #00000061;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  &:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
}

.btn-time-out {
  background: rgb(142,142,147);
  color: #fff;
  border: 1px solid transparent;
  opacity: 0.3;
}

.btn-time-in {
  background: transparent;
  color: #000;
  border: 1px solid #eceff1;
}

.btn-reset {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

.time-set {
  color: #fff;
  background: #000000b0;
  opacity: 1;
}

.time-running {
  border-color: transparent;
  color: #fff;
  background: rgb(255,59,48);
  opacity: 1;
}

.text-center {
  text-align: center;
}
.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.label-remaining,
.clock-remaining {
  font-size: 22px;
  color: rgb(255,69,58);
}

.label-rendered,
.label-remaining,
.label-total {
  font-size: 12px;
}

.App-copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
}

@keyframes easing {
  0% {
    transform: translateY(50px);
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}


.Date-buttons {
  display: flex;
  flex-direction: row;

  button {
    width: 50%;
    margin: 1%;
  }
}